*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 800px;
  padding: 40px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 2rem;
}

.home {
  margin: 12% auto;
}

h1 {
  max-width: 500px;
  margin: 0 auto;
  color: white;
  background-color: darkslategrey;
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
}

img {
  height: 500px;
  width: auto;
  margin: 10px auto;
  padding: 10px;
  background-color: brown;
  display: block;
}

h2 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

ul,
ol {
  max-width: 800px;
  margin: 10px;
  padding: 10px;
}

.ingredients {
  list-style-type: none;
}

li {
  max-width: 800px;
  margin: 0 auto;
  padding: 6px;
}

a {
  max-width: 300px;
  margin: 10px auto;
  display: block;
  background-color: darkcyan;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 1rem;
}
